section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	width: 100%;
}

article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	background-color: var(--color-bg-card);
	border-radius: 10px;
	padding: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article .statut .completed {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--color-status-completed);
}

article .statut .completed::before {
	content: "";
	background-color: var(--color-status-completed);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0.5rem;
	width: 0.5rem;
	border-radius: 50px;
}

article .statut .process {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--color-status-in-progress);
}

article .statut .process::before {
	content: "";
	background-color: var(--color-status-in-progress);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0.5rem;
	width: 0.5rem;
	border-radius: 50px;
}

article .buttons .link-planning {
	background-color: var(--color-btn-primary);
	color: var(--color-bg-white);
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	padding: 0.5rem 1rem;
	display: inline-block;
}

article .buttons .delete {
	background-color: var(--color-status-deleted);
	color: var(--color-bg-white);
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	padding: 0.5rem 1rem;
	display: inline-block;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.new-release {
	background-color: var(--color-btn-primary);
	color: var(--color-bg-white);
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	padding: 0.5rem 1rem;
	display: inline-block;
	transition: background-color 0.3s ease;
}

.new-release:hover {
	color: var(--color-btn-primary-hover);
	background: none;
	border: 1px solid var(--color-btn-primary);
	transition: background-color 0.3s ease;
}

/* No release */

.no-releases {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.no-releases h2 {
	font-size: 2rem;
	color: var(--color-text-default);
}
