@import url('./variables.css');

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	height: 100vh;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

h1 {
	color: var(--color-text-heading);
}

a {
	background-color: var(--color-btn-primary);
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	padding: 0.5rem 1rem;
	display: inline-block;
}
