main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	height: 100vh;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

h1 {
	color: #3f3f3f;
}

a {
	background-color: #926bff;
	color: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	padding: 0.5rem 1rem;
	display: inline-block;
}
