:root {
	--primary: #7a55e0;
	--primary-dark: #5e3db3;
	--primary-light: #ede8ff;

	--blue-light: #e8f0ff;

	--background: #ffffff;
	--surface: #f8f9fc;
	--border: #d6d1f5;

	--text: #1a1a1a;
	--text-muted: #555;
}

.title {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.info {
	background-color: var(--color-info-bg);
	color: var(--color-info-text);
	border-left: 4px solid var(--color-info-text);
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-size: 0.9rem;
	margin-bottom: 1rem;
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
}

span {
	color: var(--color-text-default);
}

table {
	border-collapse: collapse;
	border: 1px solid var(--color-btn-primary);
	border-radius: 10px;
	border: 1px solid var(--color-border-primary);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

thead tr {
	background: linear-gradient(90deg, var(--primary), #8b6df0);
}

.day,
.budget {
	background-color: var(--color-table-header);
}

.badge {
	display: inline-flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	background: var(--color-table-badge-bg);
	color: var(--color-table-badge-text);
	border-left: 4px solid var(--color-table-badge-text);
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	font-size: 0.85rem;
	font-weight: 500;
	margin-right: 0.5rem;
}

/* .budget {
	background-color: #5e3db3;
} */

thead tr th {
	color: var(--color-bg-white);
	font-size: 1em;
	padding: 0.7rem 0.5rem;
	border-right: 1px solid var(--color-bg-white);
}

thead tr th:last-child {
	border: none;
}

tbody tr td {
	background-color: var(--color-bg-row-alternate);
	text-align: center;
	padding: 0.3rem 0.5rem;
}

tbody tr {
	border-bottom: 2px solid var(--color-border-primary);
}

/* tbody tr td + td {
	border-left: 1px solid #927bff;
} */

.day-body {
	background-color: var(--color-bg-page-section);
	color: var(--color-table-header);
	font-weight: 600;
	border-right: 2px solid var(--color-border-light);
}

.action-body {
	background-color: var(--color-bg-white);
}

.budget-body {
	background-color: var(--color-bg-page-section);
	color: var(--color-table-header);
	font-weight: 600;
	text-align: center;
	border-left: 2px solid var(--color-border-light);
}

ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 1rem;
	gap: 1rem;
}

li {
	border-bottom: 1px dashed var(--color-border-dashed);
	padding-bottom: 1rem;
	width: 100%;
	text-align: left;
}
li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.table-wrapper {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	border: 2px solid var(--color-btn-primary);
	border-radius: 10px;
	overflow: hidden;
}

@media (min-width: 768px) {
	.table-wrapper {
		overflow-x: hidden;
		border: none;
	}

	table {
		width: 100%;
	}
}
